.containerWM{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nextWeather{
    /* z-index: -40; */
    background-color: #100E1D;
}

@media screen and (min-width: 1200px) {
    .containerWM {
        /* display: flex; */
        flex-direction: row;
        flex-wrap:nowrap;
        
    }
    .todayWeather{
        width: 25%;
    }
    .nextWeather{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        justify-items: center;
        width: 75%;
    }
  }