.containerTW{
    height: 100vh;
    background-color: #1E213A;
    
}

.containerHBttns {
    display: flex;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 18px; 
    justify-content: space-between;
    align-items: center
}

.componentLBttn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 40px;
    background-color:#6E707A;
    border-radius: 50%;
}

.containerInfoT{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 150px);
    justify-content: space-around;
}

.weatherImg > img{
    width: 164px;
    height: 160px;
}

.theTemp > span{
    width: 192px;
    height: 169px;
    font-weight: 500;
    font-size: 144px;
}

#symbTem{
    font-weight: 500;
    font-size: 60px;
    color:#A09FB1;
}

.weatherText > span {
    font-weight: 600;
    font-size: 36px;
    color:#A09FB1;
}

.weatherDate > span {
    font-weight: 500;
    font-size: 18px;
    color: #88869D;
}

.weatherLocation {
    display:flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 600;
    font-size: 18px;
    color: #88869D;
}

@media screen and (min-width: 1200px) {

    .containerTW{
        width: 100%;
    }

  }