.containerTW{
    max-width: 414px;
    height: 100vh;
    background-color: #1E213A;
    
}
/* .containerTW::before {
    content: "";
    background-image: url('../../assets/images/Cloud-background.png');
    background-repeat: no-repeat;
    background-size: 570px 326px;
    background-position-y: 58px;
    background-position-x: -93px;
    z-index: 10;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;
} */

.containerHBttns {
    
    display: flex;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 18px; 
    justify-content: space-between;
}

.componentLBttn{
    color:white;
}

.containerInfoT{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 150px);
    justify-content: space-around;
}

.weatherImg > img{
    width: 164px;
    height: 160px;
}

.theTemp > span{
    width: 192px;
    height: 169px;
    font-weight: 500;
    font-size: 144px;
}

#symbTem{
    font-weight: 500;
    font-size: 60px;
    color:#A09FB1;
}

.weatherText > span {
    font-weight: 600;
    font-size: 36px;
    color:#A09FB1;
}

.weatherDate > span {
    font-weight: 500;
    font-size: 18px;
    color: #88869D;
}

.weatherLocation {
    font-weight: 600;
    font-size: 18px;
    color: #88869D;
}