.containerListCities{
    /* height: 64px; */
    /* width: 351px; */
    text-align: left;
    padding-left:  12px;
    padding-right: 12px;
    padding-top: 38px;
    
}

.nameCity >p {
    margin: 0px;
    padding-left: 12px;
    padding-top: 23px;
    padding-bottom: 23px;
}