.containerListNextW{
    padding-top: 52px;
    padding-left: 54px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
     .containerListNextW {
        padding-left: 0px;
    }
  }