.containerBSP{

    background-color: red;
}
.searchPlacesBtn {
    width: 161px;
    height: 40px;
    color:#E7E7EB;
    background: #6E707A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* z-index: 1; */
}

